@import "src/scss/variables/variables";



  header nav{
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    margin-top: 40px;

    .brand{
      font-size: 2em;
      color: $color-background-second;

      span{
        color: $color-background-font;
      }
    }

    .nav_menu ul{
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 1.2em;

      li{
          display: none;

        @include desktop(850px){
          display: block;
          margin-left: 40px;
          padding: 15px;
        }
      }
    }
  }


