@import "src/scss/variables/variables";


.section1 {
  width: 100%;
  min-width: 500px;
  height: calc(100vh - 62px);
  flex-direction: column;
  position: relative;

  img{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

}