
$color-background-first: #D9D9D9;
$color-background-second: #BF4158;
$color-background-font: #022859;


//$color-background-first: 217, 217, 217;
//$color-background-second: 191, 65, 88;
//$color-background-font: rgba(2, 40, 89, 1);


