@import "src/scss/variables/variables";

.list{
  margin: 0 auto;
  margin-top: 40px;
  background-color: white;
  height: calc(100vh - 170px);
  width: 90vw;
  padding: 10px;
  min-height: 450px;
  min-width: 700px;

  *{
    background-color: white;
    color: $color-background-font;
  }
  h1{
    line-height: 1.6em;
    font-size: 1.2em;
  }

  i:first-of-type{
    color: green;
  }
}

.list_header{
  margin: 0 auto;
  width: 96%;
  height: 40px;
  border-bottom: 1px solid $color-background-second;
  margin-bottom: 20px;
  color: $color-background-font;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  font-weight: bold;
}

.list_table{
  padding-left: 30px;
  padding-right: 30px;
  height: 93%;


  .table_header{
    border-top: 1px solid $color-background-second;
    border-bottom: 1px solid $color-background-second;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    height: 40px;
    width: 100%;
    display: flex;

  }

  .table_element{
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid $color-background-second;

    div{
      display: flex;
      justify-content: left;
      align-items: center;
    }

    i{
      color: green;
      font-size: 1.3em;
      margin-right: 5px;
    }
    //
    //a i{
    //  color: orange;
    //  font-size: 1.3em;
    //  margin: 5px;
    //}

  }
  .id{
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .odbiorcy{
    width: 22%;
    display: flex;
    justify-content: left;
    align-items: center;
    li{
      display: flex;
      justify-content: left;
      align-items: center;
    }
  }
  .term{
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .materialy{
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
    li{
      display: flex;
      justify-content: left;
      align-items: center;
    }
  }
  .akcje{
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
  }


.table{
  height: 90%;
  overflow-y: scroll;

  .id{
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .odbiorcy{
    width: 22%;
    display: flex;
    justify-content: left;
    align-items: center;

    li{
      display: flex;
      justify-content: left;
      align-items: center;
          }
  }
  .term{
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
  .materialy{
    width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;

    li{
      display: flex;
      justify-content: left;
      align-items: center;
    }
  }
  .akcje{
    width: 10%;
    display: flex;
    justify-content: left;
    align-items: center;
  }
}
}

div.materialy{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  align-content: center;

ol{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    padding-right: 5px;
  }
}

.cursorHand{
  cursor: pointer;
}

div.odbiorcy{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
  align-content: center;

  ol{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17px;
    padding-right: 5px;
  }
}